<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="login" action="/logged" method="post">
      <div class="user-pass">

        <input id = "user1" type="text" name="" value="" placeholder="Username" required = true><br>
        <input id = "pass1" type="password" name="" value="" placeholder="Password" required = true><br>
        <button type="submit" name="Sign Up">Sign Up</button>
      </div>

    </form>
  </body>
  <style media="screen">
  .user-pass {
    text-align: center;
  }
  body {
    background-color: tomato;
  }
  </style>

</html>
